In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
Ans  A database is an organized collection of structured information, or data, typically stored electronically in 
     a computer system. A database is usually controlled by a database management system (DBMS).

SQL or the Structured Query Language is the most common and popular programming language for the relational database management 
system. It is a language designed to extract, store, insert, delete, update and manage data for structured data and strategic 
analysis. 

NoSQL database provides a mechanism for storage and retrieval of data that is modelled other than tabular form.
It was introduced by Carl Stroz in the year 1998 called a Non-relational database. Now, it stands for Not only SQL. 
It is not limited to storing data in tables, instead, enables the big data to be stored in the structured, unstructured, 
semi-structured or polymorphic form.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
Ans
Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database. 
You can generate DDL in a script for database objects to: Keep a snapshot of the database structure.

In [3]:
# CREATE DATABASE
# CREATE DATABASE create the new database if it is not exists

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mydb.close()

In [ ]:
# CREATE TABLE
# The CREATE TABLE command creates a new table in the database.
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE test2.Persons ( PersonID int, LastName varchar(255),FirstName varchar(255),Address varchar(255),City varchar(255))")
mydb.close()

In [ ]:
# ALTER TABLE

# The ALTER TABLE command adds, deletes, or modifies columns in a table.
# The ALTER TABLE command also adds and deletes various constraints in a table.
# The following SQL adds an "Email" column to the "Persons" table:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
# ADD COLUMN
mycursor.execute("ALTER TABLE test2.Persons ADD Email varchar(255)")

# DROP COLUMN
mycursor.execute("ALTER TABLE test2.Persons DROP COLUMN Email")
mydb.close()

In [ ]:
# DROP TABLE
# The DROP TABLE command deletes a table in the database.
# The following SQL deletes the table "Persons":
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("DROP TABLE .test2.Persons ")
mydb.close()

In [ ]:
# TRUNCATE TABLE
# The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
# The following SQL truncates the table "Categories": 
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("TRUNCATE TABLE test2.Persons")
mydb.close()

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
Ans.
Data Manipulation Language
We can easily access, store, change, update and remove existing folders from the database using DML commands.

In [ ]:
# INSERT
# The INSERT INTO statement is used to insert new records in a table.
# It is possible to write the INSERT INTO statement in two ways.

# If you are adding values for all the columns of the table, then no need to specify the column names in the SQL query. 
# However, make sure that the order of the values is in the same order as the columns in the table.

# Insert value in a 1st way. The column names are used here

# INSERT INTO test2.persons (EmpId,LastName,FirstName,ADDRESS,City)VALUES (1, 'XYZ', 'ABC', 'India', 'Mumbai' ); 
# INSERT INTO test2.Persons (EmpId,LastName,FirstName,ADDRESS,City)VALUES (2, 'X', 'A', 'India', 'Pune' );


# Insert value in a 2nd way.

# INSERT INTO test2.Persons VALUES (3, 'XYZ', 'ABC', 'India', 'Mumbai' );

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("insert into test2.Persons  values(1, 'verma', 'karun', 'meerut up', 'Mumbai' )")
# select EmpId, LastName from test2.Persons;  
# mycursor.execute("select * from test2.Persons")
# for i in mycursor.fetchall(): 
#     print(i)
mydb.commit()
mydb.close()

In [ ]:
# UPDATE tables

# The UPDATE statement is used to modify the existing records in a table.

# UPDATE test2.Persons SET FirstName= 'KS', City= 'Pune' WHERE EmpId= 1;  

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("UPDATE test2.Persons SET FirstName= 'KS', City= 'Pune' WHERE PersonsId= 1 ")
mydb.commit()
mydb.close()

In [ ]:
# DELETE
# The DELETE statement is used to delete existing records in a table for a particular Record.

# DELETE FROM test2.Persons WHERE EmpId=1; 

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute(" DELETE FROM test2.Persons WHERE PersonId=1 ")
mydb.close()

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
Ans
    The full form of DQL is Data Query Language. DQL is a part of the grouping involved in SQL (Structures Query Language) 
    sub-languages.
    The SQL sub languages have four major categories, DQL, DDL, DCL, and DML.
    
    DQL statements are used for performing queries on the data within schema objects. 
    The purpose of the DQL Command is to get some schema relation based on the query passed to it. 
    We can define DQL as follows it is a component of SQL statement that allows getting data from the database and 
    imposing order upon it.

In [ ]:
 SELECT
    # An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE ) that specify criteria. 
    The syntax is:
        SELECT EmpId, LastName from test2.Persons;
        
        SELECT * test2.Persons; 
        
        SELECT * FROM Employee_Order ORDER BY Emp_Salary DESC;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

Ans. A primary key is used to ensure data in the specific column is unique.

     A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
# Ans
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test2")
mydb.close()

In [ ]:
curser()
 In SQL procedures, a cursor make it possible to define a result set (a set of data rows)and perform complex logic on arow
 by row basis. By using the same mechanics, an SQL procedure can also define a result set and return it directly to the caller 
 of the SQL procedure or to a client application.
    
execute()
 The Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text. 
 The results are stored in a new Recordset object if it is a row-returning query. A closed Recordset object will 
 be returned if it is not a row-returning query.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

Ans

    FROM clause.
    ON clause.
    OUTER clause.
    WHERE clause.
    GROUP BY clause.
    HAVING clause.
    SELECT clause.
    DISTINCT clause.