In [ ]:
Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

In [ ]:
Ans MongoDB
    
    MongoDB is a non-relational document database that provides support for JSON-like storage. 
    The MongoDB database has a flexible data model that enables you to store unstructured data, and it provides full indexing support, and replication with rich and intuitive APIs.

In [ ]:
    Below is an example of a JSON-like document in a MongoDB database
    
{
  company_name: "ACME Limited Foodstuffs",
  address: {street: "1212 Main Street", city: "Springfield"},
  phone_number: "1-800-0000",
  industry: ["food processing", "appliances"]
  type: "private",
  number_of_employees: 987
}

    MongoDB has become popular with developers in part due to the its intuitive API, flexible data model, and features that include:

In [ ]:
# non relational database
    
    Non-relational databases (often called NoSQL databases) are different from traditional relational databases in that they store their data in a non-tabular form.
    Instead, non-relational databases might be based on data structures like documents.
    A document can be highly detailed while containing a range of different types of information in different formats.
    This ability to digest and organize various types of information side by side makes non-relational databases much more flexible than relational databases.

In [ ]:
In which scenarios it is preferred to use
MongoDB over SQL databases?

    NoSQL databases like MongoDB are a good choice when your data is document-centric and doesn't fit well into the schema of a relational database,
    when you need to accommodate massive scale, when you are rapidly prototyping, and a few other use cases.

In [ ]:
Q2. State and Explain the features of MongoDB.

Ans MongoDB is a scalable, flexible NoSQL document database platform designed to overcome the relational databases approach and the limitations of other NoSQL solutions.
    MongoDB is well known for its horizontal scaling and load balancing capabilities, which has given application developers an unprecedented level of flexibility and scalability.
    
    MongoDB Atlas is the leading global cloud database service for modern applications. Using Atlas, developers can deploy fully managed cloud databases across AWS, Azure, or Google Cloud. 
    Best-in-class data security and privacy standards practices means that developers can rest easy knowing and that they have instant access to the availability, scalability,
    and compliance they require for enterprise-level application development. 
    
    # features of MongoDB
    1. Ad-hoc queries for optimized, real-time analytics
        
        When designing the schema of a database, it is impossible to know in advance all the queries that will be performed by end users.
        An ad hoc query is a short-lived command whose value depends on a variable. Each time an ad hoc query is executed, the result may be different, depending on the variables in question.
    
    2. Indexing appropriately for better query executions
    
        In our experience, the number one issue that many technical support teams fail to address with their users is indexing.
        Done right, indexes are intended to improve search speed and performance.
        A failure to properly define appropriate indices can and usually will lead to a myriad of accessibility issues, such as problems with query execution and load balancing.
     
    3. Replication for better data availability and stability

        When your data only resides in a single database, it is exposed to multiple potential points of failure, such as a server crash, service interruptions,
        or even good old hardware failure. Any of these events would make accessing your data nearly impossible.

    4. Sharding
    
        When dealing with particularly large datasets, sharding—the process of splitting larger datasets across multiple distributed collections, or
        “shards”—helps the database distribute and better execute what might otherwise be problematic and cumbersome queries. Without sharding, scaling a growing web application
        with millions of daily users is nearly impossible.
    5. Load balancing
        
        At the end of the day, optimal load balancing remains one of the holy grails of large-scale database management for growing enterprise applications.
        Properly distributing millions of client requests to hundreds or thousands of servers can lead to a noticeable (and much appreciated) difference in performance.

In [ ]:
Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [14]:
import pymongo

In [15]:
client = pymongo.MongoClient("mongodb+srv://karun:karun123@cluster0.fzmldsu.mongodb.net/?retryWrites=true&w=majority")

In [16]:
db = client['karun']

In [17]:
data1 = {"name" : "karun verma" , 
        "class" :"data science masters " ,
        "time" : "flexi"}

In [18]:
coll_karun= db["my_info"]

In [19]:
coll_karun.insert_one(data1)

In [ ]:
Q4. Using the database and the collection created in question number 3, write a code to insert one record,
    and insert many records. Use the find() and find_one() methods to print the inserted record.

In [21]:
# Ans
data2 = {"mail_id" : "vermakarun50@gmail.com",
         "phone_number " : 9927910609,
         "address" : "meerut up india"
}

In [23]:
coll_karun.insert_one(data2)

In [24]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [26]:
coll_karun.insert_many(data3)

In [30]:
for i in coll_karun.find():
    print(i)

{'_id': ObjectId('63f5955b4900c248c6177267'), 'name': 'karun verma', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63f596d34900c248c6177268'), 'mail_id': 'vermakarun50@gmail.com', 'phone_number ': 9927910609, 'address': 'meerut up india'}
{'_id': ObjectId('63f597144900c248c6177269'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f597144900c248c617726a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f597144900c248c617726b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f597144900c248c617726c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f597144900c248c617726d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f597144900c248c617726e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f597144900c248c617726f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f597144900c248c6177270'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f597144900c248c6177271'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f597144900c248c6177272'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f597144900c248c6177273'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f597144900c248c6177274'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [31]:
coll_karun.find_one()

{'_id': ObjectId('63f5955b4900c248c6177267'),
 'name': 'karun verma',
 'class': 'data science masters ',
 'time': 'flexi'}

In [ ]:
Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code todemonstrate this.

In [36]:
 # The find() method is used to extract all data from the database according
# to condintion applied on it
    
for i in coll_karun.find({'name':'William'}):
    print(i)

{'_id': ObjectId('63f597144900c248c6177272'), 'name': 'William', 'address': 'Central st 954'}

In [37]:



random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [38]:
coll_karun.insert_many(random_data)

In [40]:
for i in coll_karun.find({"_id" :{"$lte" : '4'}}):
    print(i)

{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}

In [41]:
coll_karun.update_many({'companyName': 'iNeuron'} , {"$set" : {'companyName': 'karun'}})

In [42]:
for i in  coll_karun.find():
    print(i)

{'_id': ObjectId('63f5955b4900c248c6177267'), 'name': 'karun verma', 'class': 'data science masters ', 'time': 'flexi'}
{'_id': ObjectId('63f596d34900c248c6177268'), 'mail_id': 'vermakarun50@gmail.com', 'phone_number ': 9927910609, 'address': 'meerut up india'}
{'_id': ObjectId('63f597144900c248c6177269'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f597144900c248c617726a'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f597144900c248c617726b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f597144900c248c617726c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f597144900c248c617726d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f597144900c248c617726e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f597144900c248c617726f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f597144900c248c6177270'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f597144900c248c6177271'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f597144900c248c6177272'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f597144900c248c6177273'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f597144900c248c6177274'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'karun', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'karun', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'karun', 'Faculty': 'PQR'}

In [ ]:
Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
Ans
  The sort() Method
    
    To sort documents in MongoDB, you need to use sort() method. The method accepts a document containing a list of fields along with their sorting order. To specify sorting order 1 and -1 are used.
    1 is used for ascending order while -1 is used for descending order.

In [51]:
random_data2 = [
    {'_id': 1, 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': 2, 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': 4, 'companyName': 'iNeuron', 'Faculty': 'PQR'},
    {'_id': 5, 'companyName': 'iNeuron', 'Faculty': 'yht'},
    {'_id': 6, 'companyName': 'iNeuron', 'Faculty': 'PjR'},
    {'_id': 7, 'companyName': 'iNeuron', 'Faculty': 'qqq'},
]

In [53]:
coll_karun.insert_many(random_data1)

In [55]:
for i in coll_karun.find():
    print(i)

{'_id': 1, 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': 2, 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': 4, 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': 5, 'companyName': 'iNeuron', 'Faculty': 'yht'}
{'_id': 6, 'companyName': 'iNeuron', 'Faculty': 'PjR'}
{'_id': 7, 'companyName': 'iNeuron', 'Faculty': 'qqq'}

In [67]:
 # coll_karun.find().sort({"Faculty": 1}):

In [ ]:
Q7. Explain why delete_one(), delete_many(), and drop() is used.

Ans  delete_one()

    In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted. 
    If there are multiple documents matching the filter query, only the first appeared document would be deleted. 
     
    delete_many()
    
    delete_many() is used when one needs to delete more than one document.
    A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

In [73]:
query={'_id':6}

In [70]:
coll_karun.delete_many(query)

In [71]:
for i in coll_karun.find():
    print(i)

{'_id': 1, 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': 2, 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': 4, 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': 6, 'companyName': 'iNeuron', 'Faculty': 'PjR'}
{'_id': 7, 'companyName': 'iNeuron', 'Faculty': 'qqq'}

In [74]:
coll_karun.delete_one(query)

In [75]:
for i in coll_karun.find():
    print(i)

{'_id': 1, 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': 2, 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': 4, 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': 7, 'companyName': 'iNeuron', 'Faculty': 'qqq'}